<form >
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Email Id</th>
        <th scope="col">Mobile No.</th>
        <th scope="col">Answer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.User_id}}</th>
        <td>{{user.Firstname}}</td>
        <td>{{user.Lastname}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.Email}}</td>
        <td>{{user.Mob_No}}</td>
        <td>{{user.Ans}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="getData()">Load</button>
</form>