.navbar-brand {
    font-weight: bold;
    white-space: nowrap;
    
    overflow: hidden;
    text-overflow: ellipsis;
}
.myIcon {
    position:absolute;
    right: 150px;
    float: right;
}
.myIcon1 {
    position:absolute;
    right: 100px;
    float: right;
}
.myIcon2 {
    position:absolute;
    right: 50px;
    float: right;
}
.headerlogo{
    height: 40px !important;
}
.navbar a{
    color: white !important;
}
.username{
    color: white !important;
}
.navbar-icons {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
  }
  
  .navbar-brand {
    margin-right: auto; /* Move the brand/logo to the left side */
  }
  
  .navbar-icons mat-icon {
    margin-left: 10px; /* Adjust spacing between icons */
  }