<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="assets/images/game.jpg" class="headerlogo">
  </a>
  <a class="navbar-brand" href="#">Gaming</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home"><mat-icon alt="Home">home</mat-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/frature"><mat-icon>notifications_active</mat-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/game"><mat-icon>games</mat-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help_bt"><mat-icon>help</mat-icon></a>
      </li>
    </ul>
  </div>
  <div class="navbar-icons">
    <a class="nav-link" routerLink="/login"><mat-icon>account_circle</mat-icon></a>
    <a class="nav-link" routerLink="/sing-up"><mat-icon>person_add</mat-icon></a>
    <a class="nav-link" routerLink="/help_bt"><mat-icon>person</mat-icon></a>
    <a class="nav-link" routerLink="/help_bt"> <span class="username" (click)="goToProfile()">{{ getUsername()
        }}</span></a>
    <a class="nav-link" routerLink="/help_bt"><mat-icon>exit_to_app</mat-icon></a>
  </div>
</nav>
<div>
</div>
<router-outlet></router-outlet>