
<div class="profile-container">
    <div class="profile-header">
      <h2>User Profile</h2>
    </div>
    
    <div class="profile-details">
      <h3>User Information</h3>
      <p><span class="label">Name:</span> John Doe</p>
      <p><span class="label">Email:</span> johndoe.com</p>
      <p><span class="label">Username:</span> johndoe123</p>
      <!-- Add more user details as needed -->
      
      <a href="#" routerLink="editProfile" class="profile-edit-link">Edit Profile</a>
    </div>
  </div>